:root {
  --color-gray-100: oklch(96.7% 0.003 264.542);
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.button {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-sm);
  font-family: var(--font-sans);
  font-weight: 500;
  left: 1rem;
  padding: 1rem 0.5rem;
  position: absolute;
  top: 1rem;
  z-index: 10;
}

.button:hover {
  background-color: var(--color-gray-100);
}
